{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block title %}Форма{% endblock %}

{% block content %}
<section class="section fade-in">

    <h2 class="section__title">Форма вид 3</h2>
    <p> Форма принимает фразы:
        <ul>
            <li>Обо мне</li>
            <li>О моей программе</li>
            <li>О моем руководителе</li>
            <li>О моем сокурснике</li>
        </ul>
    </p>

    <form action="{% url 'one_app:manager_form' %}" method="POST" class="form">
        {% csrf_token %}

        <div>
            <label for="{{ form.task.id_for_label }}">Ваш вопрос</label>
            {% render_field form.task class="input" %}
        </div>

        <div>
            <label for="{{ form.a.id_for_label }}">Что вписали</label>
            {% render_field form.a class="input" %}
        </div>

        <div>
            <label for="{{ form.result.id_for_label }}">Результат Формы</label>
            {% render_field form.result class="input" %}
        </div>

        <button type="submit" class="button">Отправить</button>
    </form>

</section>
{% endblock %}
